<div class="header">
  <div class="logo">
    <img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646339469/angular_wzrs5o.png">
  </div>
</div>
<div class="resource-list">
  <h2>
      Here are some resources to help you on your Angular + Netlify journey:
  </h2>
  <ul>
    <li>
      <a href="https://mac3rbi.com/">مدونة اخبار ماك</a>
    </li>
    <li>
      <a href="https://mac3rbi.com/category/%d9%85%d8%a7%d9%83/">قسم برامج الماك</a>
    <li>
      <a href="https://mac3rbi.com/category/%d8%b4%d8%b1%d8%ad/">شروحات ايفون و ماك مفيدة</a>
    </li>
    <li>
      <a href="https://angular.io/">Angular Docs</a>
    </li>
  </ul>
</div>
<footer class="footer">
  Made with <a href="https://netlify.com"><img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646714899/netliheart_ezlkim.svg" alt="Netlify Logo" /></a> for you!
</footer>
